.button {
    width: 200px;
    height: 55px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    &__banner {
        display: block;
        background-color: rgb(255, 96, 51);

    }

    &__gallery {
        background-color: rgb(85, 133, 162);

    }


}