.gallery {
    background: #ffe92f;
  padding-bottom: 121px;
    &__header {
        margin-bottom: 44px;
        padding-top: 90px;
    }
  &__article {
      width: 50%;
      margin: 0 auto;
  }
  .gall-top {
      display: flex;
    margin-bottom: 30px;
    flex-flow: row wrap;
    justify-content: space-between;
    &__left {

      flex-basis: 60%;
      img {

          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);


      }
    }
    &__right {

      display: flex;
      flex-flow: column;
      flex-basis: 20%;
     justify-content: space-between;
    }
  }
  &__bottom {
    display: flex;
    margin-bottom: 50px;
    flex-flow: wrap;
   justify-content: space-between;
  }
  img {

    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);

  }

}

