.subscribe {
padding: 145px 0 160px 0;
background: url("../images/subscribe-bg.jpg") no-repeat center;
  background-size: cover ;
  &__block {
    width: 770px;
  }
  &__article {
    width:540px;
  }
  .input-cont {
    width: 100%;
  }
}