
%baseRegularFont {
    font-family: $baseFont;
    font-weight: 300;
    
}
@mixin border {
    border-left:1px solid $lineColor;
    border-right: 1px solid $lineColor;
}
@mixin centerer {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
%BoxShadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}